@mixin font-quickSand {
    font-family: 'Quicksand', sans-serif;
  }
  
  @mixin josefin() {
    font-family: 'Josefin Slab', serif !important;
  }
  
  @mixin robotoFont() {
    font-family: 'Roboto', sans-serif;
  }
  
  @mixin tangerine() {
    font-family: 'Tangerine', cursive;
  }
  